<div itemscope itemtype="http://schema.org/Product">
  {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    {{> components/products/product-view schema=true}}

    {{> components/products/tabs}}
    <div class="clear"></div>
</div>

<div class="similar-products-by-views">
    {{#if product.similar_by_views}}
        <h2 class="container-header">You May Also Like...</h2>
            {{> components/products/carousel products=product.similar_by_views columns=4}}
    {{/if}}
     <div class="clear"></div>
</div>

</div>

  <div class="sidebar right">
     {{#if product.related_products}}
        <h2 class="container-header">Recommended</h2>
        {{> components/products/carousel products=product.related_products columns=6}}
    {{/if}}
  </div>
